.index{
    position: relative;
}

body {
    background: linear-gradient(145.44deg,#F2F4FA 0%,#FAFBFC 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #5E6E80;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.7;
    min-height: 100vh;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
}
/* Loading */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 1106;
    opacity: 1;
    /* display: none; */
}

.loading__content{
    width: 100%;
    max-width: 9.375rem;
}
.circle-pulse > *{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(0);
    animation: circle-pulse 1.6s linear infinite;
}

.circle-pulse__1{
    width: 6rem;
    height: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
    background-color: #304CFD;
}
.circle-pulse__2{
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -2.4rem;
    margin-left: -2.4rem;
    background-color: rgba(48,76,253,0.7);
    animation-delay: -0.8s;
}

.process{
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: transparent;
    top: 0;
    left: 0;
}

.process span{
    width: 0;
    height: 100%;
    background-color: var(--blue);
    position: absolute;
    left: 0;
    animation: linear 1s process;
}

/* More pages */

    /* Open */
    .more-btn{
        position: fixed;
        bottom: 50px;
        left: 50px;
        width: 48px;
        height: 48px;
        background-color: var(--blue);
        border-radius: 50%;
        cursor: pointer;
        box-shadow: rgb(41, 75, 211) 3px 4px 12px; 
        transform: translateX(70px) rotate(0deg); 
        opacity: 0;
        transition: all linear 0.2s;
        z-index: 2000;
    }

    .more-btn span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.4rem;
        color: var(--white);
    }
        /* Close */

    .btnSlideNav {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer;
    }
    .slideClose {
        background-image: url(https://cdn.jsdelivr.net/gh/minhkhoi2001/code/vcard/iconClose.svg);
        top: 1.5rem;
        left: 400px;
        width: 30px;
        height: 30px;
        transform: translateX(70px);
        opacity: 0;
        position: fixed;
        z-index: 1012;
        border-radius: 50%;
        transition: all linear 0.2s;
    }

    /* Overlay */

        .overlay-slideNav {
            background-color: rgba(21,35,46,0.8);
            height: 100%;
            width: 100%;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all linear 0.2s;
        }

    /* More pages content */
    
    .more-page{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 2rem 0 0;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-390px);
        width: 380px;
        z-index: 1012;
        transition: all linear 0.2s;
    }
    
    .more-page__list{
        width: 100%;
    }
    a {
        text-decoration: none!important;
    }
    .more-page__list-item{
        padding: 10px 0;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: 1px solid var(--secondary);
        cursor: pointer;
    }

    .more-page__list-item:hover{
        color: var(--blue);
    }

    .more-page__list-item-title{
        font-weight: bold;
        font-size: 1.8rem;
        padding: 10px 0;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
    }
/* Cover imgage */
.cover-img{
    user-select: none;
    top: 0;
}
.cover-img__bg{
    background-image: url(../img/cover_img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    width: 100%;
    height: 316px;
    position: absolute;
}
/* Content wrapper */

.gutter-top{
    padding-top: 14.375rem;
}

.header {
    display: flex;
    margin-bottom: 1.875rem;
}

.box {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgb(103 118 128 / 3%);
    padding: 1.875rem;
    position: relative;
    transition: box-shadow .3s ease-in-out;
}

    /* Header left*/
    .header__left {
        display: flex;
        align-items: start;
        flex: 0 0 50%;
        padding-right: 1.875rem;
        position: relative;
    }
    .header__left::before {
        content: '';
        background-color: #EBF0F2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 1px;
    }

    .header__photo {
        background-color: #fff;
        border: 0.375rem solid #fff;
        border-radius: 2.9375rem;
        box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 5%);
        margin-top: -4.125rem;
        height: 10.125rem;
        overflow: hidden;
        width: 10.125rem;
    }

    .header__photo-img {
        height: 100%;
        width: 100%;
    }

    .header__base-info{
        margin-left: 1.5rem;
    }
    .header__social {
        display: flex;
        align-items: center;
        font-size: 1rem;
        list-style: none;
        margin-top: 0.5rem;
        margin-bottom: 0;
        padding: 0;
    }
    
    .header__social li{
        margin-right: 20px;
    }

    /* Header right */
    .header__right {
        display: flex;
        align-items: start;
        flex: 0 0 50%;
        padding-left: 1.875rem;
    }

    .header__contact {
        list-style: none;
        margin-bottom: 0;
        width: 50%;
    }

    .header__contact li {
        margin-bottom: 1rem;
        word-break: break-all;
    }

    .overhead {
        color: rgba(94,110,128,0.8);
        font-size: 0.75rem;
        display: block;
        text-transform: uppercase;
    }
/* Content Main */


    /* Slidebar */

    .sidebar{
        position: sticky;
        top: 0;
    }
    .sticky-column{
        position: sticky;
        top: 0;
        padding: 30px;
    }
    .nav{
        display: flex;
    }
    .nav__item{
        display: block;
        height: 6.25rem;
        margin-bottom: 1rem;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
    .nav__item a {
        background-color: #F7F9FA;
        border-radius: 1.25rem;
        color: #5E6E80;
        font-size: 0.875rem;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
        text-decoration: none;
        transition: all 0s;
    }

    .nav__item a i{
        display: block;
        font-size: 2.25rem;
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
    }

    a.nav__link.acctive {
        background-image: linear-gradient(142.17deg,#3086FF 6.66%,#304CFD 91.48%);
        box-shadow: inset -0.25rem -0.25rem 0.3125rem rgb(0 0 0 / 10%), inset 0.25rem 0.25rem 0.3125rem rgb(255 255 255 / 23%);
        color: #fff;
    }

    /* Content About */
    .content__about{
        background-color: var(--white);
    }

    .line-parent{
        width: 100px;
        height: 5px;
        border-radius: 10px;
        background-color: #304CFD;
    }
    .line-child{
        width: 30%;
        height: 5px;
        border-radius: 10px;
        background-color: orange;
    }
    
    .content__about p {
        margin: 20px 0;
        text-align: justify;
        user-select: none;
    }

    .content__about .h1{
        user-select: none;
    }

    .detail-skill{
        display: flex;
    }
    .skill-list{
        margin: auto;
    }
    .skill-item{
        padding: 10px;
    }
    .skill-total{
        width: 400px;
        height: 30px;
        background-color: #5E6E80;
        border-radius: 20px;
    }
    .skill-html{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: orange;
        border-radius: 20px;
    }
    .skill-css{
        width: 95%;
        height: 100%;
        position: relative;
        background-color: #304CFD;
        border-radius: 20px;
    }
    .skill-js{
        width: 70%;
        height: 100%;
        position: relative;
        background-color: yellow;
        border-radius: 20px;
    }
    .skill-rep{
        width: 70%;
        height: 100%;
        position: relative;
        background-color: #4CACC6;
        border-radius: 20px;
    }
    .skill-bootstrap{
        width: 80%;
        height: 100%;
        position: relative;
        background-color: #53397A;
        border-radius: 20px;
    }
    .name-skill{
        color: var(--white);
        font-weight: bold;
        position: absolute;
        left: 50%;
    }

    /* Contact Form */
    .content__contact{
        margin-top: 20px;
    }
    .info{
        display: flex;
        width: 100%;
        margin: 20px 0;
    }
    .full-name{
        width: 50%;
        border: 2px solid #E8EBED;
        padding: 10px;
        border-radius: 20px;
        margin-right: 10px;
        outline: none;
    }
    .email{
        width: 50%;
        border: 2px solid #E8EBED;
        padding: 10px;
        border-radius: 20px;
        margin-left: 10px;
        outline: none;
    }
    .form-contact{
        display: flex;
        flex-direction: column;
    }
    #text-contact{
        border: 2px solid #E8EBED;
        padding: 10px;
        border-radius: 20px;
        min-height:100px;
        max-height:100px;
        width: 100%;
        margin-bottom: 20px;
        outline: none;
    }

    .send-message{
        width: 260px;
        padding: 10px 0;
        border-radius: 20px;
        color: var(--white);
        border: none;
        background-image: linear-gradient(142.17deg,#3086FF 6.66%,#304CFD 91.48%);
        box-shadow: inset -0.25rem -0.25rem 0.3125rem rgb(0 0 0 / 10%), inset 0.25rem 0.25rem 0.3125rem rgb(255 255 255 / 23%);
        outline: none;
        margin-left: auto;
    }

    .send-message i{
        margin-right: 10px;
    }

    .submit{
        display: flex;
    }
    
    /* Blog */

    .blog-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .row-blog{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
    }

    .blog-item{
        width: 100%;
        cursor: pointer;
        background-color: #F7F9FA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto;
    }

    .blog-item__header{
        position: relative;
    }
    .blog-item__img{
        width: 100%;
        height: 224px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .label-time{
        position: absolute;
        top: 0;
        width: 20%;
        height: 25%;
        background-color: var(--orange);
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--white);
        z-index: 101;
    }

    .label-time span:first-child{
        font-weight: bold;
        font-size: 1.2rem;
    }

    .blog-hover{
        background-color: #5e6e806a;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        animation: blogHover 0.4s ease-in;
    }

    .blog-hover i{
        color: var(--white);
        display: flex;
        font-size: 3rem;
    }

    .blog-item:hover > .blog-item__header > .blog-hover{
        display: flex;
        z-index: 100;
    }

    .blog-item__body{
        display: flex;
        flex-direction: column;
        padding: 20px;
        color: #5E6E80;
    }
    .show{
        display: block;
    }
    .blog-item__title{
        text-align: justify;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 5px;
        display: -webkit-box;
        -webkit-box-orient: vertical ;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .blog-item__content{
        text-align: justify;
        display: -webkit-box;
        -webkit-box-orient: vertical ;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }


    /* ---------------------------------Blog post--------------------------------- */
    .blog-posts{
        display: flex;
        flex-direction: column;
    }
    .time-post-blog{
        display: flex;
        justify-content: space-between;
    }

    .time-post-blog span:first-child{
        color: #3086FF;
    }
    .title-post-blog{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin: 40px auto;
    }
    .content-post-blog{
        width: 100%;
    }
    .grap-img{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .img-post-blog{
        width: 100%;
    }
    .sub-img{
        font-size: 0.8rem;
        margin: auto;
    }
    .grap{
        text-align: justify;
    }
    .arthur{
        margin-left: 50%;
        font-weight: bold;
    }

    /* Collection */

    .collection-list{
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0;
    }
    .conllection__item{
        display: flex;
        flex-direction: column;
    }
    .fillter__list{
        display: flex;
        flex-wrap: wrap;
    }
    .collection__dvimg{
        width: 100%;
        height: 180px;
        border-radius: 20px;
        overflow: hidden;
    }
    .collection__img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .collection__img:hover{
        transform: scale(1.2);
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
    .collection__info{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .collection__name{
        font-weight: bold;
    }
    .collection__sub{
        font-style: italic;
    }
    .content__works ul{
        display: flex;
        margin: 20px;
    }
    li.list {
        padding: 10px 20px;
        cursor: pointer;
    }
    .content__works ul li.acctive{
        color: #fff;
        background-color: #3086FF;
        border-radius: 20px;
    }

    .conllection__item.hide{
        display: none;
    }

    .conllection__item.acctive{
        display: block;
       
    }

    .show-collection{
        background-color: #5e6e807d;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

     .flex{
        display: flex;
    }

    .none{
        display: none;
    }

    .show-collection__close{
        position: absolute;
        right: 50px;
        top: 50px;
        font-size: 3rem;
        border: none;
        background-color: transparent;
        color: var(--white);
    }

    .show-collection__divImg{
        width: 50%;
        height: 80%;
    }

    #img-main{
        width: 100%;
        height: 100%;
    }

    /* Resume */
    .timeline {
        margin-top: 1.75rem;
        padding-left: 0.5rem;
    }

    .timeline__item {
        border-left-width: 1px;
        border-left-style: solid;
        border-color: #EBF0F2;
        padding-bottom: 0.5625rem;
        padding-left: 1.375rem;
        position: relative;
        display: block;
    }
    .timeline__item::before {
        content: '';
        background-color: #304CFD;
        box-shadow: 0 0 0 0.1875rem rgb(48 76 253 / 25%);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -0.3125rem;
        height: 0.625rem;
        width: 0.625rem;
    }

    .timeline__title {
        margin-bottom: 0;
        position: relative;
        top: -0.3125rem;
        color: #3B4B5E;
        font-family: "Poppins",sans-serif;
        font-weight: 600;
        line-height: 1.3;
    }
    .timeline__item:last-child {
        border: 0;
    }
    .title--h5 {
        font-size: 1rem;
    }
    .timeline__period {
        color: rgba(94,110,128,0.8);
        font-size: 0.875rem;
    }

    /* MiniGames */

    .dice-game{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #result{
        margin: auto;
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
    .dice-top{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .dice-top__left{
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dice-top__left img{
        margin: auto;
        width: 100px;
    }
    .name{
        font-size: 1rem;
        font-weight: bold;
    }
    .dice-top__right{
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dice-top__right img{
        margin: auto;
        width: 100px;
    }

    .dice-bottom{
        margin: 20px auto;
    }
    .play-dice{
        padding: 2px 20px;
        border: #3086FF 1px solid;
        background-color: #3086FF;
        color: var(--white);
        font-weight: bold;
        border-radius: 20px;
    }
    .name-dice{
        padding: 2px 20px;
        border: #3086FF 1px solid;
        background-color: #3086FF;
        color: var(--white);
        font-weight: bold;
        border-radius: 20px;
    }